<h2 mat-dialog-title>
  {{ isNew ? 'Novo profissional' : 'Editar profissional' }}
</h2>

<mat-dialog-content class="text-font">
  <form [formGroup]="form" class="form" autocomplete="off">
    <div class="row">
      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-7">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" />

        <mat-error *ngIf="form.get('nome')?.hasError('required')">
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-5">
        <mat-label>Sobrenome</mat-label>
        <input matInput type="text" formControlName="sobrenome" />

        <mat-error *ngIf="form.get('sobrenome')?.hasError('required')">
          Sobrenome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-6">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" />

        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Email é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-6">
        <mat-select
          placeholder="Especialidade"
          formControlName="id_especialidade">
          <mat-option *ngFor="let item of especialidades" [value]="item.id">
            {{ item.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-6">
        <mat-select placeholder="Gênero" formControlName="id_genero">
          <mat-option *ngFor="let item of generos" [value]="item.id">
            {{ item.identificacao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field color="accent" class="col-12 col-sm-12 col-lg-6">
        <mat-select placeholder="Raça" formControlName="id_raca">
          <mat-option *ngFor="let item of racas" [value]="item.id">
            {{ item.identificacao }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <span class="label">Tecnologias:</span>
      <div class="col-12 col-sm-6 col-lg-3" *ngFor="let item of tecnologias">
        <c-select-item
          [titulo]="item.nome"
          [selected]="item.selected"
          (click)="item.selected = !item.selected">
        </c-select-item>
      </div>
      <div class="col-12 col-sm-6 col-lg-3">
        <c-add-item (click)="clickAddTecnologia()"> </c-add-item>
      </div> -->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="this.form.invalid"
    (click)="onSubmit()">
    Salvar
  </button>
</mat-dialog-actions>
